body style={"background-image:url('clouds.jpg');">}





h1 { font-size: 120px;
color: navy; 
font-family: fixedsys;
margin-left 50px;}

h3 {font-size: 80px;
color: green;
font-family: jokerman;
Margin-left 70px;}


p {font-size: 40px;
color: Black;
font-family: Fixedsys;
margin-left 1000px;}

h2 {font-size: 50px;
color: grey;
font-family: fixedsys;

iframe {align: right;}

